{% extends "homepage/header.html" %}

<title> {% block title %}Sign Up{% endblock %}</title>

{% block style %}
	
     
{% endblock %}

{% block jquery %}

$(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            if($(this).attr("value")=="1"){
                $(".box").show();
                $(".designation").hide();
            }
            else if($(this).attr("value")=="2"){
                $(".box").hide();
                $(".designation").show();   
            }
             
        });
    }).change();
});
{% endblock %}


{% block content %}

 <div class="container">
		<div class="row">
			<div class="col-md-3">

			</div>
			<div class="col-md-6" style = "margin-top:110px;">
				<div class="panel panel-default">
				   	<div class="page-header">
					  	<h2  align="center">Sign Up <small>Here</small></h1>
					</div>
					<div class="panel-body">
						<!-- {% if form.errors %}
						<p class="error">Sorry, That's not a valide username
						and Pssword</p>
						{% endif %} -->
						<form method="post" action="" class="form-horizontal" role="form" enctype="multipart/form-data">{% csrf_token %} 

							<!-- {{ form.as_p }} -->
							<div class="form-group">
								<label for="inputFirstName" class="col-sm-1 control-label"></label>
								<div class="col-sm-5">
									<input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name" required autofocus>
								</div>

								<div class="col-sm-5">
									<input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name" required autofocus>
								</div>
							</div>

							<div class="form-group">
								<label for="inputEmail3" class="col-sm-1 control-label"></label>
								<div class="col-sm-10">
									<input type="text" id="username" name="username" class="form-control" placeholder="User Name" required autofocus>

								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-1 control-label"></label>
								<div class="col-sm-10">
									<input type="text" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-1 control-label"></label>
								<div class="col-sm-10">
									<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
								</div>
							</div>

							<div class="form-group">
								<label for="inputPassword3" class="col-sm-1 control-label"></label>
								<div class=" col-sm-10">
									<input type="password" id="confirmpassword" name="confirmpassword" class="form-control" placeholder="Re-Type Your Password" required>
								</div>
							</div>

							<div class="form-group">
							<div class="col-sm-offset-1 col-sm-5">
							  <label for="sel1" class="control-label">Gender</label>
							</div>
							  <div class="col-sm-5">
							  <select class="form-control" id="sel1" name="gender" required="">
							    <option value="m">Male</option>
							    <option value="f">Female</option>
							  </select>
							  </div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-1 col-sm-5">
								  <label for="sel2" class="control-label">User Type</label>
								</div>
							  <div class="col-sm-5">
								  <select class="form-control" id="usertype_id"  name="user_type" required="" >
								  	<option value="1">Students</option>

								    
								    <option value="2">Teachers</option>
								    <!-- <option value="3"> Select Type </option> -->
								  </select>
							  </div>
							</div>
							<div class="form-group box">
								<div class="col-sm-offset-1 col-sm-5">
								  <label for="sel2" class="control-label" style="color: red;">Year</label>
								</div>
							  <div class="col-sm-5">
								  <select class="form-control boox" id="sel2" name="year" required="">
								    <option value="1st">1st</option>
								    <option value="2nd">2nd</option>
								    <option value="3rd">3rd</option>
								    <option value="4th">4th</option>
								  </select>
							  </div>
							</div>
							<div class="form-group box">
								<div class="col-sm-offset-1 col-sm-5">
								  <label for="sel2" class="control-label" style="color: red;">Semester</label>
								</div>
							  <div class="col-sm-5">
								  <select class="form-control boox"  id="sel2" name="semester" required="">
								    <option value="1st">1st</option>
								    <option value="2nd">2nd</option>
								  </select>
							  </div>
							</div>
							<div class="form-group box">
								<div class="col-sm-offset-1 col-sm-5">
								  <label for="sel2" class="control-label" style="color: red;">Id</label>
								</div>
								<div class="col-sm-5">
									<input type="text" id="username" class="boox form-control" name="std_id" placeholder="Id" required autofocus>

								</div>
							</div>
						
							<div class="form-group box">
								<div class="col-sm-offset-1 col-sm-5">
								  <label for="sel2" class="control-label" style="color: red;">Session</label>
								</div>
								<div class="col-sm-5">
									<input type="text" class="boox form-control" id="username" name="session"  placeholder="Session" required autofocus>

								</div>
							</div>
							<div class="form-group designation">
								<div class="col-sm-offset-1 col-sm-5">
								  <label for="sel2" class="control-label" style="color: red;">Designation</label>
								</div>
							  <div class="col-sm-5">
								  <select class="form-control"  id="sel2" name="semester" required="">
								  	<option value="1">Professor</option>
								  	<option value="2">Associate Professor</option>
								  	<option value="3">Assistant Professor</option>
								  	<option value="4">Lecturer</option>
								    

								  </select>
							  </div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-1 col-sm-5">
								  <label for="sel2" class="control-label">Dept</label>
								</div>
								  <div class="col-sm-5">
								  	<select class="form-control" id="sel2" name="dept_id" required="">
								    	<option value="1">CSE</option>
								    	<option value="3">ME</option>
								    	<option value="4">CE</option>
								    	<option value="2">EEE</option>
								    	<option value="5">IPE</option>
								    	<option value="6">TE</option>
								    	<option value="7">Others</option>
								  </select>
								  </div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-1 col-sm-10">
									<label for="sel2" class="control-label">Address</label>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-1 col-sm-10">
									<textarea class="form-control" rows="5" id="comment" name="address"></textarea>

								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-1 col-sm-10">
									<input type="text" id="contact" name="contact" class="form-control" placeholder="Contact No" required>

								</div>
							</div>


							<div class="form-group">
								<div class="col-sm-offset-1 col-sm-5">
								  <label for="sel1" class="control-label">Attach Image</label>
								</div>
								<div class="col-sm-5">
									<input  type="file"  name="image"/>  	
								</div>
							</div>



							<div class="form-group">
								<div class="col-sm-offset-1 col-sm-10">

								<button type="button" id="back-btn" class="btn"><a href="login">
								Back</a>
								</button>
								<button type="submit" class="btn blue pull-right">
								Submit
								</button>

								</div>
							</div>

						</form>
					</div>
				</div>
			</div>

			<div class="col-md-3">

			</div>

		</div>
	</div>

	<div id="headerwrap">

	      <br />
	      <br />
	      <br />

    </div>


{% endblock %}


<script type="text/javascript">
	
	
</script>