{% extends "homepage/header.html" %}

<title> {% block title %}Activites{% endblock %}</title>


{% block content %}
    <div class="container">

    <div class="text-center">
      <u> <h2 class="text-success">Ours Activities</h2></u>
    </div>

    <div class="text-left">

     <div class="text-info">
         <h3>Algorithm Development & Programming </h3>
     </div>

        <p class="text-justify">
            In mathematics and computer science, an algorithm (Listeni/ˈælɡərɪðəm/ AL-gə-ri-dhəm) is a self-contained step-by-step set of operations to be performed. Algorithms perform calculation, data processing, and/or automated reasoning tasks.

The words 'algorithm' and 'algorism' come from the name al-Khwārizmī. Al-Khwārizmī (Persian: خوارزمی‎‎, c. 780–850) was a Persian mathematician, astronomer, geographer, and scholar.

An algorithm is an effective method that can be expressed within a finite amount of space and time[1] and in a well-defined formal language[2] for calculating a function.[3] Starting from an initial state and initial input (perhaps empty),[4] the instructions describe a computation that, when executed, proceeds through a finite[5] number of well-defined successive states, eventually producing "output"[6] and terminating at a final ending state. The transition from one state to the next is not necessarily deterministic; some algorithms, known as randomized algorithms, incorporate random input.[7]

The concept of algorithm has existed for centuries; however, a partial formalization of what would become the modern algorithm began with attempts to solve the Entscheidungsproblem (the "decision problem") posed by David Hilbert in 1928. Subsequent formalizations were framed as attempts to define "effective calculability"[8] or "effective method";[9] those formalizations included the Gödel–Herbrand–Kleene recursive functions of 1930, 1934 and 1935, Alonzo Church's lambda calculus of 1936, Emil Post's "Formulation 1" of 1936, and Alan Turing's Turing machines of 1936–7 and 1939. Giving a formal definition of algorithms, corresponding to the intuitive notion, remains a challenging problem.[10]
        </p>

    </div>

        <div class="text-info">
         <h3>Application & Project Development </h3>
     </div>

        <p class="text-justify">
            Software development is the process of computer programming, documenting, testing, and bug fixing involved in creating and maintaining applications and frameworks involved in a software release life cycle and resulting in a software product. The term refers to a process of writing and maintaining the source code, but in a broader sense of the term it includes all that is involved between the conception of the desired software through to the final manifestation of the software, ideally in a planned and structured process.[1] Therefore, software development may include research, new development, prototyping, modification, reuse, re-engineering, maintenance, or any other activities that result in software products.[2]

Software can be developed for a variety of purposes, the three most common being to meet specific needs of a specific client/business (the case with custom software), to meet a perceived need of some set of potential users (the case with commercial and open source software), or for personal use (e.g. a scientist may write software to automate a mundane task). Embedded software development, that is, the development of embedded software such as used for controlling consumer products, requires the development process to be integrated with the development of the controlled physical product. System software underlies applications and the programming process itself, and is often developed separately.

The need for better quality control of the software development process has given rise to the discipline of software engineering, which aims to apply the systematic approach exemplified in the engineering paradigm to the process of software development.

There are many approaches to software project management, known as software development life cycle models, methodologies, processes, or models. The waterfall model is a traditional version, contrasted with the more recent innovation of agile software development.

        </p>
        <div class="text-info">
         <h3>Network & Communication </h3>
        </div>
        <p class="text-justify">

            A computer network or data network is a telecommunications network which allows computers or any other device which can be connected to a network such as smartphones or even smartwatches to exchange data. In computer networks, networked computing devices exchange data with each other using a data link. The connections between nodes are established using either cable media,for example-through optical fibre or wireless media like-wi-fi and wiMAX. The best-known computer network is the Internet.

Network computer devices that originate, route and terminate the data are called network nodes.[1] Nodes can include hosts such as personal computers, phones, servers as well as networking hardware. Two such devices can be said to be networked together when one device is able to exchange information with the other device, whether or not they have a direct connection to each other.

Computer networks differ in the transmission medium used to carry their signals, the communications protocols to organize network traffic, the network's size, topology and organizational intent.

Computer networks support an enormous number of applications such as access to the World Wide Web, video, digital audio, shared use of application and storage servers, printers, and fax machines, and use of email and instant messaging applications as well as many others. In most cases, application-specific communications protocols are layered (i.e. carried as payload) over other more general communications protocols.
        </p>
        <div class="text-info">
         <h3>Multimedia & Gaming </h3>
        </div>
        <p class="text-justify">

            Multimedia Games (Nasdaq:MGAM) is a supplier of interactive systems, electronic games, and gaming terminals for the Native American gaming market, as well as for the growing racetrack casino, charity and commercial bingo, and video lottery markets. - See more at: http://wiki.fool.com/Multimedia_Games#sthash.xErt69yX.dpuf

        </p>



        <div class="text-info">
         <h3>Co-Curricular activities </h3>
     </div>
        <p class="text-justify">


            Co-curricular activities (CCAs), previously known as Extracurricular Activities (ECA) are non-academic activities that all Singaporean students must participate in. This policy was introduced by the Ministry of Education, as a means to enhance social interaction, leadership, healthy recreation, self-discipline and self-confidence.

Through CCAs, students in their early teens are often given actual public responsibilities. Red Cross and SJAB members, for example, are often required to render first aid at public events. Most uniformed groups require precision, management and organisational skills, providing training to prepare students for the outside world.

In polytechnics and universities (tertiary education institutes), CCA records are considered by potential employers

        </p>



        <div class="text-info">
         <h3>Liaison & Publications </h3>
     </div>


    </div>




{% endblock %}


