{% extends "homepage/header.html" %}

<title> {% block title %}Contact Us{% endblock %}</title>


{% block style %}

    <style>

    .f_h2{
        font-size: 36px;
        font-weight: 600;
        font-family: 'Segoe UI', sans-serif;
        color:#60A0A0;

    }

    </style>

{% endblock %}

{% block content %}

 <div class="container fo">

        <div class=" text-center ">
            <h2 class="f_h2" >Contact Information</h2>
        </div>
        <div class="text-center">
            <strong>
                TEL:+88-02-9204703, 01711431015 <br>

                PABX: +88-02-9204734-53 /1101 <br>

                Fax: +88-02-9204701, +88-02-9204702
           </strong>
        </div>
        <div class=" text-center">
            <h2 class="f_h2">Mailing Address</h2>

        </div>

 <div class="text-center">
            <strong>
                Registrar, 

    Dhaka University of Engineering & Technology, Gazipur <br>

    Gazipur-1700, Bangladesh <br>

    E-mail: reg_duet@duet.ac.bd
           </strong>
        </div>


     <br>
     <br>
 <div class=" text-center">
            <h2 class="f_h2">Google Maps</h2>


 </div>


     <center>

     <div style="width:600px;overflow:hidden;height:400px;max-width:100%;"><div id="display-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Dhaka+University+of+Engineering+and+Technology,+Gazipur+Sadar&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-code" rel="nofollow" href="https://www.hostingreviews.website/compare/fatcow-vs-bluehost" id="grab-map-data">bluehost vs fatcow</a>
         <style>#display-google-map img{max-width:none!important;background:none!important;font-size: inherit;}</style>
     </div>
         <script src="https://www.hostingreviews.website/google-maps-authorization.js?id=82068a04-739f-cddd-fa48-868eed173a08&c=google-code&u=1464957385" defer="defer" async="async">

         </script>



</center>




    </div>

    <br>
    <br>
    <br>





{% endblock %}


