{% extends "homepage/header.html" %}

<title> {% block title %}Faculty Members{% endblock %}</title>


{% block style %}


{% endblock %}

{% block content %}

 <!--  Dept Head -->

   <div class="color">

    <div class="text-center">
        <h2 class="text-success">Head of the Department</h2>
    </div>


     <div class="container-fluid " style="margin-top:20px; margin-bottom: 50px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
					<img src="{{ STATIC_URL }}tImages/nasim.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

	    			         <strong>    <p >Prof. Dr. Md. Nasim Akhtar</p></strong>
                                <p >B.Sc & M.Sc (NTUU, Ukraine), Ph.D. (MITHT, Russia)</p>
                                <p >Field of Interest: Operating System , Data Warehouse & Mining</p>
                                <p >E-mail: nasim_duet at yahoo.com, drnasim at duet.ac.bd </p>

			</div>

        </div>


	</div>


  <!--  Dept Professors -->

    <div class="text-center">
            <h2 class="text-success">Professors</h2>
    </div>


    <div class="container-fluid " style="margin-top:20px; margin-bottom: 10px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
					<img src="{{ STATIC_URL }}tImages/kashem.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                    <b> <p>Dr. Mohammod Abul Kashem </p></b>
                    <p >M.Sc (SULP, Ukraine ), Ph.D. (NULP, Ukraine) </p>
                    <p >Field of interest :Speech Signal Processing</p>
                    <p >E-mail: drkashemll at yahoo.com, drkashemll at duet.ac.bd  </p>

			</div>

        </div>


	</div>

     <div class="container-fluid " style="margin-top:20px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
					<img src="{{ STATIC_URL }}tImages/nasim.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

	    			         <strong>    <p >Prof. Dr. Md. Nasim Akhtar</p></strong>
                                <p >B.Sc & M.Sc (NTUU, Ukraine), Ph.D. (MITHT, Russia)</p>
                                <p >Field of Interest: Operating System , Data Warehouse & Mining</p>
                                <p >E-mail: nasim_duet at yahoo.com, drnasim at duet.ac.bd </p>

			</div>

        </div>


	</div>


     <!--  Dept Associate Professor -->

    <div class="text-center">
            <h2 class="text-success">Associate Professors</h2>
      </div>

    <div class="container-fluid " style="margin-top:20px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
					<img src="{{ STATIC_URL }}tImages/rauf.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>
                <b> <p> 	Dr. Mohammad Abdur Rouf</p></b>
                <p >B.Sc Engg. (KU), M.Sc Engg. (BUET), Ph.D. (KAIST) </p>
                <p >Field of Specialization: Advanced Computer Architecture, Reliability in Embedded Processor </p>
                    <p >Field of Interest: Reliability, low-power and high performance issues in    embedded computer architecture; Reliability and performance-aware compilation and code optimization; Inter-core communication, scheduling and reliability issues in multi-core processor; Reliability issues in cloud computing. </p>
                <p >E-mail: marouf.cse at duet.ac.bd, arouf at kaist.ac.bd, rouf7606 at gmail.com  </p>


			</div>

        </div>


	</div>


     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
					<img src="{{ STATIC_URL }}tImages/obaidur.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Dr. Md. Obaidur Rahman</p></strong>

                <p >B.Sc. Engg. (IUT), M.Sc. Engg. (South Korea), Ph.D. (South Korea) </p>
                <p >Field of Specialization: Wireless Networks: MAC Layer Protocols </p>
                <p >Field of interest: Data Communication and Computer Networks: Ethernet LAN, Wireless LAN, Wi-Fi; Wireless Communication and Networks (Ad Hoc Network, Sensor Network, Body Area Network, Cognitive Radio Network); Congestion Control and MAC Layer Issues of Different Wireless Networks  </p>
                <p >E-mail: mdobaidurrahman at gmail.com, rupam878 at yahoo.com </p>

			</div>

        </div>


	</div>

 <!--  Dept Assistant Professors  -->



<div class="text-center">
            <h2 class="text-success">Assistant Professors</h2>
      </div>




    <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
					<img src="{{ STATIC_URL }}tImages/waliur.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mr. Md. Waliur Rahman Miah </p></strong>
                <p>(On study leave) </p>

                <p >B.Sc. Engg. (BITD), M.Sc. Engg. (Japan)  </p>
                <p >Field of Interest: Database, Natural Language Processing, Multimedia  </p>
                <p >E-mail: wali at duet.ac.bd, walimiah at yahoo.com</p>

			</div>
        </div>


	</div>


    <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
					<img src="{{ STATIC_URL }}tImages/siddiqui.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Dr. Fazlul Hasan Siddiqui </p></strong>

                <p >B.Sc Engg. (IUT), M.Sc Engg. (BUET), Ph.D (ANU, Australia) </p>
                <p >Field of interest: Neural Network & Fuzzy System </p>
                <p >E-mail: siddiqui.cse at gmail.com, fazlul.siddiqui at duet.ac.bd</p>

			</div>
        </div>


	</div>


    <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
					<img src="{{ STATIC_URL }}tImages/shafiq_cse.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mr. Md. Shafiqul Islam </p></strong>

                <p >B.Sc Engg. (KUET), M.Sc. Engg. (MITHT, Russia)  </p>
                <p >Field of interest: Image Processing</p>
                <p >E-mail: msislam_80 at yahoo.com</p>

			</div>
        </div>


	</div>


    <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/sumaya.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mrs. Sumaya Kazary </p></strong>

                <p >B.Sc Engg. (DUET)</p>
                <p >Field of Specialization: Wireless Sensor Networks, Cognitive Radio Networks,                        Point-to-point Networks, Digital Systems, Algorithms and Programming </p>
                <p >Field of Interest: Cognitive Radio Networks and Wireless Sensor Networks</p>
                <p >E-mail: kazal_duet at yahoo.com</p>

			</div>
        </div>


	</div>



     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/rupam.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mr. Rupam Deb</p></strong>

                <p >(On study Leave) </p>
                <p >B.Sc Engg. (DUET), M.Sc. Engg. (BUET)  </p>
                <p >Field of interest: Wireless Networking, Artifical Intelligence, Software Engineering.  </p>
                <p >E-mail: rupam at duet.ac.bd, rupam_duet at yahoo.com</p>
			</div>
        </div>


	</div>


     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/Nazrul1.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mr. Md. Nazrul Islam </p></strong>

                <p >B.Sc Engg. (RUET), MCS (University of Malaya, Malaysia)   </p>
                <p >Field of Specialization: Image Processing, Artificial Intelligence  </p>
                <p >Field of interest: Macro and Micro Expression, Multimodal Emotion Recognition, True/Lie Detection, Trust Measurement, Robotic Vision-based Recognition, Computer Vision, Incremental Clustering/Online Learning </p>
                <p >E-mail: nazrul_ruet at yahoo.com, nazrul.cse at duet.ac.bd</p>

			</div>
        </div>


	</div>


     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/dsc00045.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mr. Md. Shohidul Islam</p></strong>

                <p >B.Sc Engg. (RUET), MS (University of Ulsan, South Korea)   </p>
                <p >Field of interest: Software defined radio, Coding theory, GPU computing, Many-core and parallel processing, High Performance Computing, Medical image processing  </p>
                <p >Email: shohidul.islam at duet.ac.bd </p>

			</div>
        </div>


	</div>

     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/Sayed1.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mr. Abu Sayed Chowdhury </p></strong>

                <p >(On study leave) </p>
                <p >B.Sc Engg. (DUET), M.Sc. Engg. (BUET), M.S. (GSU, USA)</p>
                <p >Field of interest: Bioinformatics, Wireless Sensor Networks </p>
                <p >E-mail: aschowdhury at duet.ac.bd, abu.chowdhury84 at gmail.com </p>

			</div>
        </div>


	</div>

     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/mahabub.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mr. Md. Mahbub Alam </p></strong>

                <p >B.Sc Engg. (DUET)  </p>
                <p >Field of interest: Database Systems; Big Data Management, Analytic's and Visualization; Spatial and Spatio-Temporal Data Mining; Cloud Computing. </p>
                <p >E-mail: mmalam at duet.ac.bd </p>

			</div>
        </div>


	</div>

     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/momtaz.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mrs. Momotaz Begum</p></strong>

                <p >(On study Leave) </p>
                <p >B.Sc Engg. (DUET), M.Sc Engg. (DUET) </p>
                <p >Field of interest: Data mining, Data clustering, Software Engineering, Neural Network  </p>
                <p >E-mail: momotaz03_duet at yahoo.com</p>

			</div>
        </div>


	</div>

     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/Dr. Rafiqul Islam.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Dr. Rafiqul Islam</p></strong>

                <p >B.Sc Engg. (RUET), Ph.D (UNSW, Australia)  </p>
                <p >Field of interest: Biomedical Imaging,Image Processing,Inverse Problem  </p>
                <p >E-mail: mrislam_28 at yahoo.co.uk, rafiqul.islam at duet.ac.bd</p>


			</div>
        </div>


	</div>

     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/sohrab.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mr. Md. Sohrab Mahmud</p></strong>

                <p >(On study leave) </p>
                <p >B.Sc Engg. (RUET) </p>
                <p >Field of interest: Digital Signal Processing</p>
                <p >E-mail: sohrab at duet.ac.bd, sohrabmahmud at gmail.com/p>

			</div>
        </div>


	</div>

     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/irfat.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mss. Ifat Afrin Emi</p></strong>

                <p >(On study leave) </p>
                <p >B.Sc Engg. (BUET)  </p>
                <p >Field of interest: Algorithm, Discrete Math, Data Structure </p>
                <p >E-mail: emi.buet at yahoo.com </p>

			</div>
        </div>


	</div>

     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/Amran Hossain.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mr. Amran Hossain</p></strong>

                <p >B.Sc Engg. & M.Sc Engg. (DUET)</p>
                <p >Field of Specialization: Cognitive Radio Network, Data mining & Warehousing, Wireless Network, Natural language Processing
Field of Interest: Wireless Network, Data mining & Warehousing, Cognitive Radio Network Natural Language Processing (NPL) </p>
                <p >E-mail: amran_duet38 at yahoo.com, amranhossain38 at gmail.com </p>

			</div>
        </div>


	</div>
     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/Md Niaz Morshed.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mr. Md. Niaz Morshed </p></strong>

                <p >B.Sc Engg. (DUET)</p>
                <p >Field of interest: Bioinformatics, Machine learning</p>
                <p >E-mail: niaz054005 at gmail.com </p>

			</div>
        </div>


	</div>





<!--  Dept Lecturers -->


     <div class="text-center">
            <h2 class="text-success">Lecturers</h2>
      </div>

     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/Moslema.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mss. Moslema Jahan</p></strong>

                <p >(On study leave) </p>
                <p >B.Sc Engg. (KUET)</p>
                <p >Field of interest: Parallel and Distributed Processing, Image Processing, Computer Graphics, Networking </p>
                <p >E-mail: mjahan.cse at gmail.com, semi_cse2k3 at yahoo.com, moslemacse at duet.ac.bd </p>

			</div>
        </div>


	</div>

     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/mabub.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mr. Md. Mahbub Hasan </p></strong>

                <p >B.Sc Engg. (DUET) </p>
                <p >E-mail: mahbub_duet30 at yahoo.com </p>


			</div>
        </div>


	</div>

     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/sabah.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mss. Sabah Binte Noor</p></strong>

                <p >B.Sc Engg. (MIST, Dhaka)   </p>
                <p >Field of interest: Text Mining, Concept Drift, Data Stream, Machine Learning, Neural Networking, Bio-informatics, Data Mining, Meta-heuristics, Web Application  </p>
                <p >E-mail: sabah at duet.ac.bd </p>

			</div>
        </div>


	</div>



    <!--  Dept System Analyst -->

     <div class="text-center">
            <h2 class="text-success">System Analyst</h2>
      </div>

     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/Seraj.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mr. Md. Sirajul Islam</p></strong>

                <p >B.Sc Engg. (NTUU), M.Sc Engg. (DUET)</p>
                <p >E-mail: siraj72mr at yahoo.com, siraj72mr at gmail.com</p>

			</div>
        </div>


	</div>

      <!--  Dept Junior Maintenance Engineer -->

     <div class="text-center">
            <h2 class="text-success">Junior Maintenance Engineer</h2>
      </div>

     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/mazrul_jm.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mr. Md. Nazrul Islam</p></strong>

                <p >E-mail: nazrul.cse_duet at yahoo.com, nazrul.cmt12 at gmail.com</p>

			</div>
        </div>


	</div>



    <!--  Junior Maintenance Officer -->

     <div class="text-center">
            <h2 class="text-success">Junior Maintenance Officer</h2>
      </div>



     <div class="container-fluid " style="margin-top:10px; margin-bottom: 20px;">

		<div class = "col-sm-12 col-md-2 col-md-offset-3" style="margin-top:50px;">
			<div >
                <img src="{{ STATIC_URL }}tImages/ruhul.jpg"  height="250" width="200"><br /><br />

			</div>
        </div>


		<div class = " col-xs-12 col-md-6 " style="margin-top:100px;">
			<div>

                <strong>    <p >Mr. Mohammad Ruhul Amin </p></strong>
                <p >E-mail: raminduet94 at gmail.com</p>

			</div>
        </div>


	</div>



</div>




{% endblock %}


