{% extends "homepage/header.html" %}

<title> {% block title %}Forum {% endblock %}</title>


{% block content %}


 <div class="container">

        <div class="text-info">
            <h4>FORUM Text </h4>
        </div>

     <br>

             <p class="btn-block">


            Ein Herzstück der AutorInnenförderung ist das FORUM Text – das Förderprogramm für szenisches Schreiben. Namhafte Autoren wie Oliver Bukowski, Marius von Mayenburg, Roland Schimmelpfennig, Peter Waterhouse, Ewald Palmetshofer und Josef Winkler, aber auch DramaturgInnen und RegisseurInnen betreuen als MentorInnen und WorkshopleiterInnen die AutorInnen bei der Erarbeitung ihrer Texte.
             </p>

     <br>

 <div class="text-info">
        <h4>Teilnahme: </h4>
    </div>

     <br>
    <p class="btn-block">

        <p class="btn-block">


            Ein Herzstück der AutorInnenförderung ist das FORUM Text – das Förderprogramm für szenisches Schreiben. Namhafte Autoren wie Oliver Bukowski, Marius von Mayenburg, Roland Schimmelpfennig, Peter Waterhouse, Ewald Palmetshofer und Josef Winkler, aber auch DramaturgInnen und RegisseurInnen betreuen als MentorInnen und WorkshopleiterInnen die AutorInnen bei der Erarbeitung ihrer Texte.
         </p>

     </p>

        <br>

 <div class="text-info">
        <h4>Blind Text Generator: </h4>
    </div>

     <br>
    <p class="btn-block">

        <p class="btn-block">


            Blind Text Generator generates text based not only on the "standard" lorem ipsum, but Cicero's original work, Cicero's English translation, and several other classic works in English and in other languages.

Why we like it: Blind Text Generator let's us specify a specific word count, character count, and paragraph count. What makes it unique is its column adjuster, which allows us to see how the selected amount of words/characters fits within a set line length.Texte.
         </p>

     </p>


     <br>


 <div class="text-info">
        <h4>Blind Text Generator: </h4>
    </div>

     <br>
    <p class="btn-block">

        <p class="btn-block">


            Blind Text Generator generates text based not only on the "standard" lorem ipsum, but Cicero's original work, Cicero's English translation, and several other classic works in English and in other languages.

Why we like it: Blind Text Generator let's us specify a specific word count, character count, and paragraph count. What makes it unique is its column adjuster, which allows us to see how the selected amount of words/characters fits within a set line length.Texte.
         </p>

     </p>


     <br>

 <div class="text-info">
        <h4>Blind Text Generator: </h4>
    </div>

     <br>
    <p class="btn-block">

        <p class="btn-block">


            Blind Text Generator generates text based not only on the "standard" lorem ipsum, but Cicero's original work, Cicero's English translation, and several other classic works in English and in other languages.

Why we like it: Blind Text Generator let's us specify a specific word count, character count, and paragraph count. What makes it unique is its column adjuster, which allows us to see how the selected amount of words/characters fits within a set line length.Texte.
         </p>

     </p>


 </div>

{% endblock %}


