{% extends "adminpage/adminHeader.html" %}



	<title> {% block title %}CE Student List{% endblock %}</title>

	{% block content %}
<div class="container-fluid">
				<div class = "row" style ="margin-top:50px">	
					<div class = "col-md-4">
						<ul class="nav nav-tabs">
							<li role="presentation" class="active"><a href="studentList">All</a></li>
						</ul>
					</div>
					<div class ="col-md-4">
						<h1>All Student List</h1>
					</div>
				</div>
	<div class="col-md-12">
			<div class = "col-md-10">
				<h2> 10 Students </h2>
			</div>
	</div>



<div class="container-fluid" style="margin-top:80px;">
	<div class = "row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>User ID</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Contact Number</th>
								<th>Year</th>
								<th>Semester</th>
								<th>Status</th>
								<th colspan=3 style="text-align:center">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr>
									<td>124013</td>
									<td>Imran</td>
									<td>Masud</td>
									<td>01673662719</td>
									<td>3rd</td>
									<td>2nd</td>
									<td>Active</td>
									<td>
										<a href='#' data-toggle="tooltip" data-placement="top" title="Profile">Profile</a>
									</td>
									<td>
										<a href='#'data-toggle="tooltip" data-placement="top" title="Edit Information">Edit</a>
									</td>
									<td>
										<a href='#' data-toggle="tooltip" data-placement="top" title="Disable Account">Disable</a>
									</td>
							</tr>
							<tr>
									<td>124015</td>
									<td>Rakib</td>
									<td>Hossen</td>
									<td>01773662719</td>
									<td>3rd</td>
									<td>2nd</td>
									<td>Active</td>
									<td>
										<a href='#' data-toggle="tooltip" data-placement="top" title="Profile">Profile</a>
									</td>
									<td>
										<a href='#'data-toggle="tooltip" data-placement="top" title="Edit Information">Edit</a>
									</td>
									<td>
										<a href='#' data-toggle="tooltip" data-placement="top" title="Disable Account">Disable</a>
									</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>

						 <ul class='pagination '> <li><a href='#'>1</a></li></ul>
	
</div>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
	{% endblock %}
