<style type="text/css">

	#footer
	{
		background: #F8F8EE;
		font-size: 16px;
		height: 50px;
		width: 100%;
		padding-top: 20px;

	}

	#footer-wrapper
	{
		width: 980px; 
		margin: 0 auto;
		padding:0 auto;
		color:#000000;
		text-align: center;
	}
	a{color: #000000;}
	a:hover{color: #000000;}

</style>

<div id="footer">
  <div id="footer-wrapper">
	    <footer>
		    <small>
		    	<a href="#">Home </a> | 
		    	<a href="#">Privacy & Policy </a> |
		    	<a href="#">Terms and Conditions </a> |
		    	<a href="#">About us</a>
		    </small>
	      <small>&copy; 2016 DUET CSE Department.All rights reserved.</small>
	    </footer>
  </div> 
</div>	

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="bootstrap/js/js.js"></script>
  </body>
</html>